models
data
small_dataset
__pycache__
blast_results.xml
genome_assessment.py
VAE_MoG_model.py
VAE_model_single.py
VAE_model_2.py
phylogroups_processing.sh
downloaded_plasmids.txt
plasmid_metadata.csv
FI_GAN_training_kmer_tok.py
DNAGPT_model.py
main_large_cut_down_dataset.ipynb
main_large_cut_down_dataset.ipynb
gene_annotation.ipynb
GANs_model_2.py
GAN_training_2.py
GANs_model_4.py
GAN_training_4.py
5_DNAGPT_as_gen
figures
greedy_algo.py
train_final_datatset_enhanced.py
main_large_full_dataset.ipynb
genome_minimiser.log
data_exploration_script.py
bakta_script.sh
additional_final_enhanced.py
.DS_Store
HF_model.py
add_genome_size.py
new_loss_enhanced.py
train_final_dataset_new_params.py